@import 'src/styles/vars';

.app {
  width: 90%;
  max-width: 800px;
  margin: auto;
  background-color: #ecf0f1;
  padding: 1rem;
  min-height: 100vh;
  
  .img{
    text-align: center;
    width: 150px;
  }

  .header-logo
{
  text-align: center;
  padding: 1em;
  background-color: $alternate-color;

  img{
    width: 150px;
  }
}
}
